### foo.pdf 사용

In [ ]:
###!pip install camelot

In [1]:
!dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 8A35-D87D

 C:\Users\ftsv2\Desktop\2021\21KDT\2021-K-Digital-Training-main\camelot 디렉터리

2021-06-29  오후 04:48    <DIR>          .
2021-06-29  오후 04:48    <DIR>          ..
2021-06-29  오후 04:48    <DIR>          .ipynb_checkpoints
2021-06-29  오후 04:47            84,158 foo.pdf
2021-06-29  오후 04:47             1,335 pdf.ipynb
2021-06-29  오후 04:47                48 README.md
2021-06-29  오후 04:47           245,180 RPA_part20(camelot).pdf
               4개 파일             330,721 바이트
               3개 디렉터리  73,057,001,472 바이트 남음

In [2]:
import camelot
#import sys
tables=camelot.read_pdf('foo.pdf')

In [5]:
type(tables)

camelot.core.TableList

In [3]:
print(tables[0])

<Table shape=(7, 7)>

In [8]:
tables[0].df

,0,1,2,3,4,5,6
0,Cycle \nName,KI \n(1/km),Distance \n(mi),Percent Fuel Savings,,,
1,,,,Improved \nSpeed,Decreased \nAccel,Eliminate \nStops,Decreased \nIdle
2,2012_2,3.30,1.3,5.9%,9.5%,29.2%,17.4%
3,2145_1,0.68,11.2,2.4%,0.1%,9.5%,2.7%
4,4234_1,0.59,58.7,8.5%,1.3%,8.5%,3.3%
5,2032_2,0.17,57.8,21.7%,0.3%,2.7%,1.2%
6,4171_1,0.07,173.9,58.1%,1.6%,2.1%,0.5%

In [7]:
tables[0].parsing_report

{'accuracy': 99.02, 'whitespace': 12.24, 'order': 1, 'page': 1}

In [4]:
tables[0].to_excel('table0.xlsx')

### example.pdf 사용

In [19]:
tables0=camelot.read_pdf('example.pdf', pages='1,2,3')

In [10]:
tables0

In [11]:
nu_tables=tables0

In [12]:
nu_tables

In [13]:
tables0[0].df

,0,1,2,3
0,Powertrain system,IC,Parallel,Power \nsplit
1,displacement (cc),"2,359","2,359","2,362"
2,Weight (kg),"1,530","1,680","1,670"
3,Engine power (kW),150,117,110
4,Battery output power (kW),-,34,30
5,Battey capacity (Wh),-,"1,431","1,591"
6,Transmission system,Transmission \n6 speed,Transmission \n6 speed,ECVT
7,Motor power (kW),-,35,105
8,Total system power (kW),150,150,140

In [27]:
df0=tables0[0].df
# df0을 pandas data frame으로 설정

In [28]:
df0[0]
# 컬럼값 추출

0            Powertrain system
1            displacement (cc)
2                  Weight (kg)
3            Engine power (kW)
4    Battery output power (kW)
5         Battey capacity (Wh)
6          Transmission system
7             Motor power (kW)
8      Total system power (kW)
Name: 0, dtype: object

In [29]:
type(df0[0])

pandas.core.series.Series

In [30]:
tables0[2]

In [ ]:
# tables0[2].df.to_execl('tb01.xlsx')
# 엑셀파일로 생성

#### 테이블 1 새로 지정

In [22]:
tables1=camelot.read_pdf('example.pdf', pages='1,2,3,4,5,6,7')

In [23]:
tables1

In [24]:
tables1[0]

In [26]:
nu_tables1=tables1

In [31]:
df1=tables1[0].df
# df0을 pandas data frame으로 설정

In [33]:
tables1[9].df

        0             1               2
0          Parallel (%)  Powersplit (%)
1  City 1          42.9            58.1
2  City 2          50.4            63.7
3  City 3          55.9            71.1